:root {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  line-height: 1.5;

  color-scheme: light dark;
  color: #0E523D;
  background-color: #D0DFDC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  text-align: center;
  display: inline-block;
  height: 90vh;
  margin-top: 10vh;
}

#root img+.welcome {
  position: absolute;
  top: 0;
  left: 0;
}

a {
  color: #0E523D;
  font-family: Montserrat;
  font-weight: 300;
  text-decoration: inherit;
}

a:hover {
  color: #C58E3C;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


.comp-register {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
}

.comp-register>button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  font-size: medium;
  cursor: pointer;
  font-weight: 500;
}

.cust-register {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
}

.cust-register>button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  font-size: medium;
  cursor: pointer;
  font-weight: 500;
}

.register-button-container>button {
  margin: 20px;
  width: 400px;
  height: 120px;
  font-size: 30px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #0E523D;
  cursor: pointer;
  border-radius: 10px;
}


.register-button-container>button>a {
  color: #D0DFDC;
  font-weight: 500;
}

.register-button-container>button:hover {
  background-color: #0e523da4;
}

.login {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
}

.login>button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  font-size: medium;
  cursor: pointer;
  font-weight: 500;
}

.customer-profile {
  display: block;
  background-color: #28896a6d;
  border: solid 4px;
  border-radius: 10px;
  width: 300px;
  height: 350px;
}

.customer-profile>label {
  font-size: medium;
  font-weight: bold;
  background-color: #D0DFDC;
  width: 200px;
  display: inline-block;
}

.customer-profile>p {
  font-size: medium;
  font-weight: bold;
  background-color: whitesmoke;
  display: inline-block;
  width: 200px;
  text-align: center;
  border: solid 2px;
  border-radius: 10px;
  border-color: #0E523D;
}

.company-profile-container {
  display: inline-block;
  background-color: #28896a6d;
  border: solid 4px;
  border-radius: 10px;
  width: 300px;
  height: 550px;
}

.company-profile>label {
  font-size: medium;
  font-weight: bold;
  background-color: #D0DFDC;
  width: 200px;
  display: inline-block;
}

.company-profile>p {
  font-size: medium;
  font-weight: bold;
  background-color: whitesmoke;
  display: inline-block;
  width: 200px;
  text-align: center;
  border: solid 2px;
  border-radius: 10px;
  border-color: #0E523D;
}

.company-details>label {
  font-size: medium;
  font-weight: bold;
  background-color: #D0DFDC;
  width: 200px;
  display: inline-block;
}

.company-details>p {
  font-size: medium;
  font-weight: bold;
  background-color: whitesmoke;
  display: inline-block;
  width: 200px;
  text-align: center;
  border: solid 2px;
  border-radius: 10px;
  border-color: #0E523D;
}

.register,
.register-cust,
.register-comp,
.imageuploader {
  min-height: 70vh;
  display: inline-block;
  align-content: center;
}

.upload-container {
  margin-top: 20vh;
}

.marketplace {
  min-height: 70vh;
}

.login {
  min-height: 70vh;
}

.profile {
  min-height: 70vh;
  display: inline-block;
  align-content: center;
}