body {
  margin: 0 !important;
  display: block !important;
  height: fit-content;
}

:root {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  line-height: 1.5;

  color-scheme: light dark;
  color: #0E523D;
  background-color: #D0DFDC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: 10vh;

}

.nav-link {
  color: #0E523D;
  font-family: Montserrat;
  font-weight: 300;
  text-decoration: inherit;
}

a:hover {
  color: #C58E3C;
}

.comp-register {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
}

.comp-register>button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  font-size: medium;
  cursor: pointer;
  font-weight: 500;
}

.cust-register {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
}

.cust-register>button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  font-size: medium;
  cursor: pointer;
  font-weight: 500;
}

.register-button-container>button {
  margin: 20px;
  width: 400px;
  height: 120px;
  font-size: 30px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #0E523D;
  cursor: pointer;
  border-radius: 10px;
}


.register-button-container>button>a {
  color: #D0DFDC;
  font-weight: 500;
}

.register-button-container>button:hover {
  background-color: #0e523da4;
}

.login {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: 600;
}

.login>button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  font-size: medium;
  cursor: pointer;
  font-weight: 500;
}

.customer-profile {
  display: block;
  background-color: #28896a6d;
  padding: 20px;
  width: 300px;
  min-height: 350px;
  margin-top: 2vh;
  border-radius: 4px;
  margin-bottom: 2vh;
}

.customer-profile>p {
  font-size: medium;
  font-weight: bold;
  background-color: #D0DFDC;
  width: 200px;
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
}

.edit-info,
.clear-cart {
  padding: 10px;
  border-style: none;
  border-radius: 4px;
  margin-top: 2px;
  width: 100%;
}

.remove-from-cart,
.save-order {
  padding: 10px;
  border-style: none;
  border-radius: 4px;
  margin-top: 2px;
  width: 30%;
  background-color: #3e6b5d;
}

.edit-info:hover,
.clear-cart:hover,
.go-checkout:hover,
.remove-from-cart:hover,
.save-order:hover {
  padding: 10px;
  background-color: #C58E3C;
  border-style: none;
  cursor: pointer;
  border-radius: 4px;
}

.customer-profile>label {
  font-size: medium;
  font-weight: bold;
  display: inline-block;
  width: 200px;
  text-align: center;
}

.company-profile-container {
  display: block;
  background-color: #28896a6d;
  padding: 20px;
  width: 300px;
  min-height: 350px;
  margin-top: 2vh;
  border-radius: 4px;
  margin-bottom: 2vh;
}

.company-profile>label,
.company-details>label {
  font-size: medium;
  font-weight: bold;
  width: 200px;
  display: inline-block;
  text-align: center;
}

.company-profile>p,
.company-details>p {
  font-size: medium;
  font-weight: bold;
  background-color: #D0DFDC;
  display: inline-block;
  width: 200px;
  border-radius: 4px;
  padding: 5px;
}

.register,
.register-cust,
.register-comp,
.imageuploader,
.admin-page,
.unauthorized-page,
.productcard-container,
.checkout-page {
  min-height: calc(100vh - 60px - 200px);
  display: inline-block;
  align-content: center;
}

.upload-container {
  margin-top: 20vh;
}

.marketplace {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  bottom: 0;
  text-align: center;
  min-height: calc(100vh - 60px - 200px);
}

.login {
  min-height: 70vh;
}

.profile {
  min-height: 70vh;
  display: inline-block;
  align-content: center;
  justify-content: center;
}

.user-profile-container {
  min-height: 70vh;
  display: inline-block;
  align-content: center;
  justify-content: center;
}

.go-checkout {
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  margin: 0em;
  padding-block: 1px;
  padding-inline: 6px;
  padding: 10px;
  border-style: none;
  border-radius: 4px;
  margin-top: 2px;
  width: 100%;
  background-color: #6B6B6B;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif
}

.go-checkout:hover {
  color: aliceblue;
}

.checkout-table-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-table {

  background-color: white;
  width: max-content;
  font-weight: 400;
}

.empty-row {
  height: 20px;
}

.checkout-details-table {
  background-color: #D0DFDC;
  font-weight: 300;
  width: 60vh;
}

.checkout-details-body {
  color: #022e1b;
  font-weight: 400;
  border-style: none;
}

.checkout-details-td {
  padding: 8px;
  height: min-content;
  border-style: none;
  border: none;
  justify-content: left;
}

.checkout-details-tr {
  padding: 8px;
  height: min-content;
  border-style: none;
}

.checkout-details-tr:nth-child(even) {
  background-color: #D0DFDC;
  border-style: none;
}

.checkout-details-tr:hover {
  background-color: #C58E3C;
  border-style: none;
}

.orderForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px;
  border-style: solid;
  padding: 2vh;
  margin: 3vh;
  width: max-content;
}

input {
  background-color: white;
  border-style: solid;
  border: 1px;
  border-color: #6B6B6B;
}


.checkout-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}