.home-page {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    bottom: 0;
    text-align: center;
}

img {
    display: flex;
    position: relative;
    width: 90vw;
    bottom: 0;
}

.welcome {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    line-height: 3;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;

}